<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkBKPcP7fNimf7CIFLp1w7H0-OKLJVcs8</string>
	<key>GCM_SENDER_ID</key>
	<string>957228731933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.kidsmathsapp</string>
	<key>PROJECT_ID</key>
	<string>kids-maths-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kids-maths-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957228731933:ios:7b3e8de8e86208828980f4</string>
</dict>
</plist>